.bg_custom {
    background-color: rgb(160, 196, 224);
}

.container_custom {
    margin: 3rem auto;
    width: 40%;
    max-width: 400px;
}

.tasks_container li>* {
    cursor: pointer;
}

.task_done {
    text-decoration: line-through;
}
